@media print {
  body * {
    visibility: hidden;
  }
  #secao-folha-impressao, #secao-folha-impressao * {
    visibility: visible;
  }
  #secao-folha-impressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
  }
  .no-print {
    display: none !important;
  }
}