@media print {
  body * {
    visibility: hidden;
  }
  #relatorio-pdf-container, #relatorio-pdf-container * {
    visibility: visible;
  }
  #relatorio-pdf-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
  }
}